body {
    background-color: #FDFFFE;
}

/*#f9feff, #FEFEFE, for p: 46505C*/

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #263159;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #263159;
}

.custom-btn {
    background-color: #495579;
    color: #fffffe;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #251749;
}