body {
    background-color: #FDFFFE;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    font-size: 1.2vw;
    /*nadi bolji nacin jer radi problem*/
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #263159;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #263159;
}

.custom-btn {
    background-color: #495579;
    color: #fffffe;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #251749;
}

a:link {
    text-decoration: none;
    color: #495579;
}

a:visited {
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

.add-btn a:hover {
    color: #495579;
}

.add-btn {
    color: #fffffe;
    border: 3px solid #495579;
    border-radius: 5px;
}


.col-form-label {
    font-weight: bold;
}