{% extends 'app/base.html' %}
{% block content %}
    
    <h2>Add new member !</h2>

    <form method="POST" class="post-form" action="{% url 'app:add_member' %}">  
        {% csrf_token %}  
        <div class="container">  
       <br> 
          <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
            <h3>Enter New Member</h3>  
            </div>  
          </div>  

          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Name:</label>  
            <div class="col-sm-4">  
            {{ form.name }}  
            </div>  
          </div>  

          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Surname:</label>  
            <div class="col-sm-4">  
            {{ form.surname }}  
            </div>  
          </div>  

          <!--obrisan datum i gender-->
          
          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Email:</label>  
            <div class="col-sm-4">  
            {{ form.email }}  
            </div>  
          </div>                    

          <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
            <button type="submit" value="Save" class="btn btn-primary">Submit</button>  
            </div>  
          </div>   

        </div>  
    </form>  
{% endblock content %}

