{% extends 'app/base.html' %}
{% block content %}
    
    <h2>Add new group !</h2>

    <form method="POST" class="post-form" action="{% url 'app:management' %}">  
        {% csrf_token %}  
        <div class="container">  
        <br>  
          <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
            <h3>Enter New Group</h3>  
            </div>  
          </div>  

          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Group Name:</label>  
            <div class="col-sm-4">  
            {{ form.name }}  
            </div>  
          </div>  

          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Description:</label>  
            <div class="col-sm-4">  
            {{ form.description }}  
            </div>  
          </div>  

          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Price:</label>  
            <div class="col-sm-4">  
            {{ form.price }}  
            </div>  
          </div>  


          <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
            <button type="submit" value="Save" class="btn btn-primary">Submit</button>  
            </div>  
          </div>  

        </div>  
    </form>  
{% endblock content %}

