{% extends 'app/base.html' %}
{% block content %}


<form method="POST" class="post-form" action="{% url 'app:update_member' member.id %}">  
    {% csrf_token %}  
    <div class="container">  
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
          </div>
        {% endif %}
    <br>  
      <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <h3>Update Member Details</h3>  
        </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Name:</label>  
        <div class="col-sm-4">  
            <input type="text" name="name" id="id_name" required maxlength="40" value="{{ member.name }}"/>  
        </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Surname:</label>  
        <div class="col-sm-4">  
            <input type="text" name="surname" id="id_surname" required maxlength="50" value="{{ member.surname }}" />  
        </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Date of birth:</label>  
        <div class="col-sm-4">  
            <input type="date" name="date_of_birth" id="id_date_of_birth" value="{{ member.date_of_birth }}" />  
        </div>  
      </div> 

      <div class="form-group row">  
        <label for="id_gender" class="col-sm-2 col-form-label">Gender:</label>  
         <select name="gender" id="id_gender" class="col-sm-2" required>
            <option value="M">M</option>
            <option value="F">F</option>
         </select>
      </div> 

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Email:</label>  
        <div class="col-sm-4">  
            <input type="email" name="email" id="id_email" required maxlength="100" value="{{ member.email }}" />  
        </div>  
      </div>  


      <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <button type="submit" class="btn custom-btn">Update</button>  
        </div>  
      </div>  
    </div>  
</form> 

{% endblock content %}