{% extends 'app/base.html' %}
{% block content %}


<form method="POST" class="post-form" action="{% url 'app:update_group' group.id %}">  
    {% csrf_token %}  
    <div class="container"> 
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
              {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    <br>  
      <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <h3>Update Group Details</h3>  
        </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Group Name:</label>  
        <div class="col-sm-4">  
            <input type="text" name="name" id="id_name" required maxlength="20" value="{{ group.name }}"/>  
        </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Description:</label>  
        <div class="col-sm-4">  
            <input type="text" name="description" id="id_description" required maxlength="100" value="{{ group.description }}" />  
        </div>  
      </div>  

      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Price:</label>  
        <div class="col-sm-4">  
            <input type="text" name="price" id="id_price" required maxlength="20" value="{{ group.price }}" />  
        </div>  
      </div>  


      <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <button type="submit" class="btn btn-success">Update</button>  
        </div>  
      </div>  
    </div>  
</form> 

{% endblock content %}