{% extends 'app/base.html' %}
{% block extra_css %}
  {{ form.media.css }}
{% endblock %}
{% block content %}
    
<!--Ovo je ostao cijeli HTML za  bootstrap-datepicker-plus koji je za 4-rku-->
<h2>Add new member !</h2>
<form method="POST" class="post-form" action="{% url 'app:management' %}">  
    {% csrf_token %}  
    <div class="container">  
      {{ form.as_p }}
      {% block extrahead %}
        {{ form.media }}
      {% endblock %}
      <div class="col-sm-4">  
        <button type="submit" value="Save" class="btn btn-primary">Submit</button>  
      </div>  
    </div>
</form>  

{% endblock content %}

{% block extra_js %}
  {{ form.media.js }}
{% endblock %}