{% extends 'app/base.html' %}
{% block content %}
    
    <div class="row">
        <div class="col-12 col-md-9 mb-5">
            <h2>{{ group.name }}</h2>

            <div><b>Description:</b> {{ group.description }}</div>
            <div><b>Price:</b> {{ group.price }}</div>

            <h2 class="text-center mt-5 mb-4">Members in group</h2>
            <form action=""method="POST">
                {% csrf_token %}

                {% for member in members_in_group %} 
                    {% include 'includes/member_card.html' with member=member %}
                {% endfor %}  
            <button class="btn custom-btn" type="submit">Approve paid</button>

            <h2 class="text-center mt-5 mb-4">Other members</h2>
            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Add to group</th>
                      </tr>
                </thead>
                <tbody>
                    {% for member in members_not_in_group %}
                    <tr>    
                        <td>{{ member.name }}</td>  
                        <td>{{ member.surname }}</td>  
                        <td>{{ member.email }}</td>  
                        <td>  
                            <button type="button" class="btn" href="{% url 'app:view_member' member.id %}" data-bs-toggle="modal" data-bs-target="#addToGroupModal{{member.id}}">
                                <i class="fa-solid fa-plus ms-5" style="color: #263159;"></i>
                            </button>  
                            <div class="modal" id="addToGroupModal{{member.id}}" tabindex="-1" aria-labelledby="GroupModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">{{ member.name }} {{ member.surname }}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      <span aria-hidden="true"></span>
                                    </div>
                                    <div class="modal-body">
                                      <p>I want to add {{ member.name }} {{ member.surname }} to {{ group.name }} group.</p> 
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn custom-btn pull-right" 
                                          onclick="location.href='{% url 'app:add_member_to_group' group.id member.id %}'">
                                        Add to group
                                    </button>
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </td>  
                    </tr>  
                    {% endfor %}
                </tbody>
                </table>
          <br>  
          <br>  
       
        </div>


    </div>
{% endblock content %}