{% extends 'app/base.html' %}
{% block content %}
 
<h1 class="text-center">Sign in</h1>

<form method="post">
    {% csrf_token %}
    
    {% include 'includes/bootstrap_form.html' with form=form %}
   
    <div class="row mt-4 text-center">
        <div clss="col-md-8 ms-2">
            <input type="submit" value="Sign in" class="custom-btn btn px-4 py-2">
        </div>
    </div>
</form>
<p class="text-center mt-5">Don't have an account? <a href="/accounts/sign-up">Create an account</a>.</p>
{% endblock %} 