{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Sign up!</h1>
    </div>

    <form method="post" accept-charset="utf-8">
      {% csrf_token %}

      {% include 'includes/bootstrap_form.html' with form=registration_form %}
      <div class="form-check text-center my-3">
        {% include 'includes/bootstrap_form.html' with form=owner_registration_form %}
      </div>

      <div class="row mt-4 text-center">
        <div class="col-md-8 mx-auto">
          <input type="submit" value="Sign up" class="custom-btn btn px-4 me-3">
          <a href="{% url 'home_path' %}" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>        
{% endblock content %}
